<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>CoinOneProject</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="/public/css/style.css">

	</head>
	<body>

		<div class="container">

			<h1 class="logo"><span class="glyphicon glyphicon-bitcoin" aria-hidden="true"></span>CoinOneProject</h1>
			<input type="button" class="btn btn-primary btn-xs login" value="로그인">
            <div class="panel panel-info">
                <div class="panel-heading">설정</div>
                <div class="panel-body">
                    <span>적용코인 :
						<input type="checkbox" class="btc" checked><span>BTC</span>
						<input type="checkbox" class="eth" checked> <span>ETH</span>
						<input type="checkbox" class="bch" checked> <span>BCH</span>
						<input type="checkbox" class="ltc" checked> <span>LTC</span>
						<input type="checkbox" class="etc" checked> <span>ETC</span>
						<input type="checkbox" class="xrp" checked> <span>XRP</span>
						<input type="button" class="btn btn-primary btn-xs apply" value="적용">
						<input type="button" class="btn btn-primary btn-xs reset" value="설정초기화">
                    </span> <br> <br>
                    <span>갱신시간 :
						<select name="update" class="update">
							<option value="5000">5초</option>
							<option value="10000">10초</option>
							<option value="30000" selected>30초</option>
							<option value="60000">60초</option>
						</select>
					</span>
					<span>정렬
						<select name="sort" class="sort">
							<option value="">선택</option>
							<option value="name">이름순</option>
							<option value="krw">원화순</option>
							<option value="usd">달러순</option>
							<option value="margin">시세차익순</option>
							<option value="before">전일대비순</option>
							<option value="volume">거래량순</option>
						</select>
					</span> <br> <br>
                </div>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>코인</th>
                        <th>원화</th>
						<th>달러</th>
						<th>달러(원)</th>
						<th>시세차익</th>
						<th>전일대비</th>
						<th>거래량(단위: 원)</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                </tbody>
            </table>

		</div>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="/public/js/index.js"></script>


	</body>
</html>
